/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

   $color-black: #191919;
   $color-white: #fff;

   $color-areo-blue: #AAFFEC;
   $color-eden: #134F5C;

   $color-green: #05573B;
   $color-light-green: #CAF3C8;
   $color-red: #BB254D;
   $color-light-red: #FCE0DC;
   $color-blue: #006288;
   $color-light-blue: #EBF9FF;

   $color-gray: #363D43;
   $color-gray-70: #666666;
   $color-gray-60: #6D7278;

   $color-silver: #EFEFEF;
   $color-silver-30: #BEC8D4;


   ////////////////////////////////////////////////////////////////////

   $color-primary: $color-areo-blue;
   $color-secondary: $color-eden;
   $color-accent: $color-red;

   $color-warning: $color-red;
   $color-warning-light: $color-light-red;
   $color-success: $color-green;
   $color-success-light: $color-light-green;
   $color-neutral: $color-blue;
   $color-neutral-light: $color-light-blue;

   $color-body: $color-black;
