/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */

$spacing-unit: 0.5rem;

$spacing-xs: $spacing-unit;
$spacing-sm: $spacing-unit * 2;
$spacing-md: $spacing-unit * 3;
$spacing-lg: $spacing-unit * 4;
$spacing-xl: $spacing-unit * 5;
