/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */

.px-u-text-upper {
  text-transform: uppercase !important;
}

.px-u-text-right {
  text-align: right !important;
}

.px-u-color-dark {
  color: $color-black !important;
}
