.c-badge {
  $block: &;
  transition: all ease .2s;

  display: inline-block;
  font-size: 1em;
  line-height: 1.25em;
  color: $color-neutral;
  background-color: $color-neutral-light;
  text-align: center;
  border-radius: 1.25em;
  padding: 0.0625em 0.6875em;

  &--success {
    background-color: $color-success-light;
    color: $color-success;
  }

  &--warning {
    background-color: $color-warning-light;
    color: $color-warning;
  }

  &--accent, &--number {
    background-color: $color-accent;
    color: $color-white;
    font-weight: $font-weight-bold;
  }

  &--number {
    padding: 0.0625em 0.375em;
    min-width: 1.375em;
  }
}
