.px-c-button {
  $block: &;
  transition: all ease .2s;

  display: inline-block;
  padding: 0.75em 1em;
  font-size: 1em;
  font-weight: $font-weight-medium;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $color-black;
  background-color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;

  &:hover:not([disabled]) {
    outline: none;
    background-color: lighten($color: $color-primary, $amount: 10%);
    text-decoration: none;
  }

  &:focus, &:active {
    outline:none;
    background-color: lighten($color: $color-primary, $amount: 10%);
    border-color: $color-black;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;

    &:hover:not([disabled]) {
      background-color: lighten($color: $color-secondary, $amount: 10%);
      color: $color-white;
    }

    &:focus, &:active {
      background-color: lighten($color: $color-secondary, $amount: 10%);
      color: $color-white;
    }

    &[disabled] {
      color: $color-white;
    }
  }

  &--ghost {
    border: 1px solid $color-gray-70;
    background: $color-white;
    color: $color-gray-70;

    &:hover:not([disabled]) {
      color: $color-gray-70;
      background: $color-silver;
    }

    &:focus, &:active {
      color: $color-gray-70;
      background-color: $color-silver;
    }

    &[disabled] {
      color: $color-gray-70;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }
}
