.px-c-label {
  font-size: 1.125em;
  color: $color-gray-60;
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  display: block;
  cursor: pointer;
  padding: 0;
  margin-bottom: $spacing-xs;
}
