.px-c-radio {
  display: flex;
  align-items: center;
  line-height: 1.375rem;
  cursor: pointer;
  padding: 0.625em 0 0.625em 4px;
  margin-left: -4px;
  overflow: hidden;
  min-width: 6em;
  opacity: 1;
  transition: opacity 0.2s ease-out;

  &--disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--readonly {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }

  &--no-label {
    display: inline;
    min-width: 2em;
  }

  svg {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.6em;
    overflow: visible;

    .circle {
      transition: r 0.2s ease-out;
    }
  }

  input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
    }
  }

  input:checked + svg .circle {
    r: 6;
  }

  input:focus + svg {
    outline: 1px dashed $color-secondary;
    outline-offset: 2px;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
