.c-text {
  margin: 0;
  padding: 0;

  > br {
    height: 0.5em;
    display: block;
    content: '';
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--xxl {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  &--xl {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &--lg {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  &--md {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &--sm {
    font-size: 1rem;
    line-height: 1.25;
  }

  &--xs {
    font-size: 0.875rem;
    line-height: 1.25;
  }

  &--xxs {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}